
doctype html
head
  // Required meta tags
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Colorlib Templates')
  meta(name='author' content='Colorlib')
  meta(name='keywords' content='Colorlib Templates')
  // Title Page
  title SALES AGENT
  // Icons font CSS
  link(href='/template/vendor/mdi-font/css/material-design-iconic-font.min.css' rel='stylesheet' media='all')
  link(href='/template/vendor/font-awesome-4.7/css/font-awesome.min.css' rel='stylesheet' media='all')
  // Font special for pages
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i' rel='stylesheet')
  // Vendor CSS
  link(href='/template/vendor/select2/select2.min.css' rel='stylesheet' media='all')
  link(href='/template/vendor/datepicker/daterangepicker.css' rel='stylesheet' media='all')
  // Main CSS
  link(href='/template/css/main.css' rel='stylesheet' media='all')
.page-wrapper.bg-gra-03.p-t-45.p-b-50
  .wrapper.wrapper--w790

    //- .row
    //-     .col-md-8.offset-md-2
    //-         form(id="regsales" method='POST' name="regsalesform")
    //-             h3(class="text-center") Register An Agent
    //-             div.form-row
    //-                 div(class="form-group col-md-4")
    //-                     label(for="firstname") 
    //-                         strong First Name
    //-                     input(type="text" name="firstname" class="form-control" id="firstname")
    //-                     div(class="error" id='firstnameErr')

    //-                 div(class="form-group col-md-4")
    //-                     label(for="surname") 
    //-                         strong Surname
    //-                     input(type="text" name="surname" class="form-control" id="surname")
    //-                     div(class="error" id='surnameErr')

    //-                 div(class="form-group col-md-4")
    //-                     label(for="username") 
    //-                         strong username
    //-                     input(type="text" name="username" class="form-control" id="username")
    //-                     div(class="error" id='usernameErr')
                        
    //-                     //- field 2
    //-             div.form-row
    //-                 div(class="form-group col-md-6")
    //-                     label(for="inputEmail4") 
    //-                         strong Email
    //-                     input(type="email" name="email" class="form-control" id="email")
    //-                     div(class="error" id='emailErr')
    //-             button(class="btn btn-primary mb-2" type="submit") Submit
                
    //-             //- button.btn.btn-primary(type="submit") Submit

    .card.card-5
      .card-heading
        h2.title SALESAGENT
      .card-body
        form(id='salesagentform' method='POST' name='regsalesform' enctype='multipart/form-data')
          .form-row.m-b-55
            .name Agent Name
            .value
              .row.row-space
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='firstname')
                    div(class="error" id="firstnameErr")
                    label.label--desc First Name
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='lastname')
                    div(class="error" id="lastnameErr")
                    label.label--desc Last Number
          .form-row.m-b-55
            .name ID NOs.
            .value
              .row.row-space
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='salesagentempid')
                    label.label--desc Employee ID
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='salesagentnin')
                    label.label--desc National ID
          .form-row
            .name
            .value
              .input-group
                input.input--style-5(type='file' name='salesagentphoto')
                label.label--desc Passport Photo
          .form-row.m-b-55
            .name   System Details
            .value
              .row.row-space
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='username')
                    label.label--desc Username
                .col-2
                  .input-group-desc
                    input.input--style-5(type='password' name='password')
                    label.label--desc Password


          div
            button.btn.btn--radius-2.btn--red(type='submit' align='center') ADD SALESAGENT
script(src='validations/salesagentvalidation.js')

// Jquery JS
script(src='/template/vendor/jquery/jquery.min.js')
// Vendor JS

script(src='/template/vendor/select2/select2.min.js')
script(src='/template/vendor/datepicker/moment.min.js')
script(src='/template/vendor/datepicker/daterangepicker.js')
// Main JS
script(src='/template/js/global.js')
// This templates was made by Colorlib (https://colorlib.com)
// end document

//- .row
//-         .col-md-8.offset-md-2
//-             form(action='/manager/agent/new' id="regsales" method='POST' name="regsalesform")
//-                 h3(class="text-center") Register An Agent
//-                 div.form-row
//-                     div(class="form-group col-md-4")
//-                         label(for="firstname") 
//-                             strong First Name
//-                         input(type="text" name="firstname" class="form-control" id="firstname")
//-                         div(class="error" id="firstnameErr")

//-                     div(class="form-group col-md-4")
//-                         label(for="surname") 
//-                             strong Surname
//-                         input(type="text" name="surname" class="form-control" id="surname")
//-                         div(class="error" id="surnameErr")

                   
     
                
             
                    