
doctype html
head
  // Required meta tags
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Colorlib Templates')
  meta(name='author' content='Colorlib')
  meta(name='keywords' content='Colorlib Templates')
  // Title Page
  title ADD PRODUCT
  // Icons font CSS
  link(href='/template/vendor/mdi-font/css/material-design-iconic-font.min.css' rel='stylesheet' media='all')
  link(href='/template/vendor/font-awesome-4.7/css/font-awesome.min.css' rel='stylesheet' media='all')
  // Font special for pages
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i' rel='stylesheet')
  // Vendor CSS
  link(href='/template/vendor/select2/select2.min.css' rel='stylesheet' media='all')
  link(href='/template/vendor/datepicker/daterangepicker.css' rel='stylesheet' media='all')
  // Main CSS
  link(href='/template/css/main.css' rel='stylesheet' media='all')
.page-wrapper.bg-gra-03.p-t-45.p-b-50
  .wrapper.wrapper--w790
    .card.card-5
      .card-heading
        h2.title ADD PRODUCT
      .card-body
        form(method='POST' enctype='multipart/form-data')
          .form-row.m-b-55
            .name Item Identification
            .value
              .row.row-space
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='productname')
                    label.label--desc Product Name
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='serialnumber')
                    label.label--desc Serial Number
          .form-row.m-b-55
            .name Price
            .value
              .row.row-space
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='productprice')
                    label.label--desc Actual Price
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='productinitialpay')
                    label.label--desc Initail Pay
          .form-row.m-b-55
            .name Item Apperance
            .value
              .row.row-space
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='productmake')
                    label.label--desc Product Make
                .col-2
                  .input-group-desc
                    input.input--style-5(type='text' name='productcolor')
                    label.label--desc Product Color
          .form-row
            .name
            .value
              .input-group
                input.input--style-5(type='file' name='productimage')
                label.label--desc Product Image
          .form-row
            .name Category
            .value
              .input-group
                .rs-select2.js-select-simple.select--no-search
                  select(name='productcategory')
                    option(disabled='disabled' selected='selected') Choose option
                    option Subject 1
                    option Subject 2
                    option Subject 3
                  .select-dropdown
          .form-row
            .name Product Description
            .value
              .input-group
                input.input--style-5(type='text' name='productdescription')
          .form-row.m-b-55
            .name Stock
            .value
              .row.row-refine
                .col-3
                  .input-group-desc
                    input.input--style-5(type='text' name='productQty')
                    label.label--desc Quantity
                .col-9
                  .input-group-desc
                    input.input--style-5(type='text' name='dateofEntry')
                    label.label--desc Date of Entry
          div
            button.btn.btn--radius-2.btn--red(type='submit') ADD PRODUCT
// Jquery JS
script(src='/template/vendor/jquery/jquery.min.js')
// Vendor JS
script(src='/template/vendor/select2/select2.min.js')
script(src='/template/vendor/datepicker/moment.min.js')
script(src='/template/vendor/datepicker/daterangepicker.js')
// Main JS
script(src='/template/js/global.js')
// This templates was made by Colorlib (https://colorlib.com)
// end document
